{% extends 'base.html' %}
{% block title %}
    add_patient Page
{% endblock %}

{% block content %}
<h2>PatientDetails</h2>

<form action="" method = "POST">
    <div class="form-group row">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group row">
        <label for="cnic">cnic</label>
        <input type="text" class="form-control" name="cnic" id="cnic">
    </div>

   
    <div class="form-group row">
        <label for="phoneNumber">phoneNumber</label>
        <input type="text" class="form-control" name="phoneNumber" id="phoneNumber">
    </div>

    <div class="form-group row">
        <label for="age">age</label>
        <input type="text" class="form-control" name="age" id="age">
    </div>
   
    <div class="form-group row">
        <label for="email">email </label>
        <input type="text" class="form-control" name="email" id="email">
    </div>

    <div class="form-group row">
        <label for="patientAddress">patientAddress</label>
        <input type="text" class="form-control" name="patientAddress" id="patientAddress">
    </div>

    <div class="form-group row">
        <label for="appointmentNo">appointmentNo</label>
        <input type="text" class="form-control" name="appointmentNo" id="appointmentNo">
    </div>

    <div class="form-group row">
        <label for="password">password</label>
        <input type="text" class="form-control" name="password" id="password">
    </div>
    

    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-primary">Cancel</a>
  </form>


    
{% endblock %}
<style>
    body {
    background-color: #212121;
    color: white
    }
 </style>

