{% extends 'base.html' %}
{% block title %}
    Pharmacy Page
{% endblock %}

{% block content %}
    
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">medicineNo</th>
            <th scope="col">medicineName</th>
            <th scope="col">expiry</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for n in items %}
            <tr>
                <td>{{ n.medicineNo }}</td>
                <td>{{ n.medicineName }}</td>
                <td>{{ n.expiry }}</td>
                <td>{{ n.quantity }}</td>
                <td>Rs. {{ n.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}