{% extends 'base.html' %}
{% block title %}
    Remove Doctor
{% endblock %}

{% block content %}
    

<form action="" method = "POST">
    <div class="form-group row">
        <label for="id">Doctor id</label>
        <input type="text" class="form-control" name="id" id="id">
    </div>
    
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-primary">Cancel</a>
</form>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">cnic</th>
            <th scope="col">phoneNumber</th>
            <th scope="col">age</th>
            <th scope="col">email</th>
            <th scope="col">admitted</th>
            <th scope="col">patientAddress</th>
            <th scope="col">appointmentNo</th>
            <th scope="col">Dues</th>
            <th scope="col">password</th>
            <th scope="col">gender</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for n in items %}
            <tr>
                <td>{{ n.id }}</td>
                <td>{{ n.name }}</td>
                <td>{{ n.cnic }}</td>
                <td>{{ n.phoneNumber }}</td>
                <td>Rs. {{ n.age }}</td>
                <td>Rs. {{ n.email }}</td>
                <td>Rs. {{ n.admitted }}</td>
                <td>Rs. {{ n.patientAddress }}</td>
                <td>Rs. {{ n.appointmentNo }}</td>
                <td>Rs. {{ n.Dues }}</td>
                <td>Rs. {{ n.password }}</td>
                <td>Rs. {{ n.gender }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}