{% extends 'base.html' %}
{% block title %}
    Remove Medicine
{% endblock %}

{% block content %}
    

<form action="" method = "POST">
    <div class="form-group row">
        <label for="medicineNo">Medicine Number</label>
        <input type="text" class="form-control" name="medicineNo" id="medicineNo">
    </div>
    
    <button type="btnAdd" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-primary">Cancel</a>
</form>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">medicineNo</th>
            <th scope="col">medicineName</th>
            <th scope="col">expiry</th>
            <th scope="col">quantity</th>
            <th scope="col">price</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for n in items %}
            <tr>
                <td>{{ n.medicineNo }}</td>
                <td>{{ n.medicineName }}</td>
                <td>{{ n.expiry }}</td>
                <td>{{ n.quantity }}</td>
                <td>Rs. {{ n.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}